<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<h3>{{ username }}</h3>

<textarea id="chat-log" cols="100" rows="20">{% for message in messages %}({{ message.author.username }}){{message.content }}
{% endfor %}</textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ group|json_script:"group_id" }}
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
        const group_id = JSON.parse(document.getElementById('group_id').textContent);
        var uesrname =  {{ username }}
        const route = 'ws://'
            + window.location.host
            + '/ws/chat/'
            + group_id
            + '/'
        console.log(route)
        const chatSocket = new ReconnectingWebSocket(route);
            chatSocket.onopen = function (e){
            chatSocket.send(JSON.stringify({
                'command': "fetch_message",
                'room_name' : group_id,
            }));


        }
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let message = data['message']
            let command = data['command']
            let username = data['username']

            /***
            if(Array.isArray(message)){
                for(let i=message.length-1; i>=0; i--) {
                        document.querySelector('#chat-log').value += (message[i]['content'] + '\n');
                    }
            }else{
                document.querySelector('#chat-log').value += (message['content'] + '\n');
            }
             ***/
            if(command === "new_message" && username!= null && message != null){
                document.querySelector('#chat-log').value += ("(" + username + ")"+message + '\n');
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': "new_message",
                'username': {{ username }},
                'room_name': group_id,
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>